body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}

header li {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}

header div {
  display: inline-block;
}

.hl {
  background-color: yellow;
}

.item-done {
  text-decoration: line-through;
}
